name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run a multi-line script
        env:
          GITHUB_JSON: ${{ toJSON(github) }}
        run: |
          printf '  \e[31m%s\e[0m\n' 'indented color'
          printf '\e[31m  %s\e[0m\n' 'indented but color at start'
          printf %s "$GITHUB_JSON" | jq -C .
